.bookmask{
	background: #ff0;
	padding: 0.2rem;
	border-radius: 0.4rem 0.4rem 0 0;
	width: 3rem;
	word-break: break-word;
	line-height: 1.2em;
	text-align: center;
}
.bookmask:before,
.bookmask:after{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	border-top:1rem solid #ff0;
}
.bookmask:before{
	left: 0;
	border-right: 1.5rem solid transparent;
}
.bookmask:after{
	right: 0;
	border-left: 1.5rem solid transparent;
}