.footer-search{
	color: #000;
}
.footer-search-input {
	border-radius: 0.5rem;
	padding: 0.5rem 2rem 0.5rem 6rem;
	border: 0.1rem solid #fd2704;
	transition: box-shadow 0.2s linear;
}
.footer-search-input:focus{
	box-shadow: 0 0 0 0.15rem rgba(250, 27, 04, 0.6);
}
.footer-search-btn{
	position: absolute;
	top: 50%;
	height: 100%;

	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.footer-search-btn[type="submit"]{
	left: 0;
	border-radius: 0.5rem 0 0 0.5rem;
	background: #eb3e32;
	width: 5rem;
	color: #fff;
	font-weight: bolder;
}
.footer-search-btn[type="reset"]{
	opacity: 0;
	pointer-events: none;
	right: 0;
	width: 1.6rem;
}
.footer-search-input:not(:placeholder-shown) ~ .footer-search-btn{
	pointer-events: auto;
}
.footer-search-input:not(:placeholder-shown) ~ .footer-search-btn[type="reset"]{
	opacity: 1;
}