.header-search-input{
	width: 100%;
	padding: 0.5rem 2rem;
}
.header-search-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.header-search-btn[type="submit"]{
	left: 0;
}
.header-search-btn[type="reset"]{
	opacity: 0;
	pointer-events: none;
	right: 0;
}
.header-search-input:not(:placeholder-shown) ~ .header-search-btn{
	pointer-events: auto;
}
.header-search-input:not(:placeholder-shown) ~ .header-search-btn[type="reset"]{
	opacity: 1;
}