.header-search-input{
	padding: 0.5rem 2rem;
	border-radius: 1rem;
	border: 0.1rem solid #fd2704;
	transition: box-shadow 0.2s linear;
}
.header-search-input:focus{
	box-shadow: 0 0 0 0.15rem rgba(250, 27, 04, 0.6);
}
.header-search-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.header-search-btn[type="submit"]{
	left: 0;
}
.header-search-btn[type="reset"]{
	opacity: 0;
	pointer-events: none;
	right: 0;
}
.header-search-input:not(:placeholder-shown) ~ .header-search-btn{
	pointer-events: auto;
}
.header-search-input:not(:placeholder-shown) ~ .header-search-btn[type="reset"]{
	opacity: 1;
}