[data-type= "input"]{
	color: inherit;
}
[data-type= "input"]:not(.disabled),
[data-type= "input"]:not(:disabled){
	cursor: pointer;
	pointer-events: auto;
}
[data-type="input"][data-valid="false"]{
  color: red;
}



